.form {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    width: 350px;
    /* height: 150px; */
    height: auto;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
  }
  .button {
    width: 150px;
    padding: 5px;
    border-radius: 4px;
  }
  .nameInput {
    margin-bottom: 15px;
  }
  .inputLabel {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
  }
  .label {
    margin-right: 15px;
    padding-bottom: 5px;
  }